<h1><i nz-icon nzType="form"></i>Đăng kí thành viên</h1>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Đang kiểm tra email"
            [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="email" id="email" placeholder="ex@gmail.com" />
            <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Email không được trống
                </ng-container>
                <ng-container *ngIf="control.hasError('email')">
                    Email không hợp lệ
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                    Email đã có người sử dụng
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Mật khẩu</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Hãy nhập mật khẩu">
            <input nz-input type="password" id="password" formControlName="password" placeholder="Mật khẩu"
                (ngModelChange)="updateConfirmValidator()" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Nhập lại mật khẩu</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" placeholder="Mật khẩu" />
            <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Hãy nhập mật khẩu
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                    Mật khẩu không trùng khớp
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullName">
            <span>Họ tên</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="fullName" formControlName="fullName" placeholder="Họ tên" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Số điện thoại</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Số điện thoại không hợp lệ">
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                <ng-template #addOnBeforeTemplate>
                    <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                        <nz-option nzLabel="+84" nzValue="+84"></nz-option>
                    </nz-select>
                </ng-template>
                <input formControlName="phoneNumber" id="'phoneNumber'" nz-input placeholder="0xxx xxx xxxx"
                    [specialCharacters]="[' ']" mask="0000 000 0009" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">
            <span>Địa chỉ</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="address" formControlName="address" placeholder="Số nhà Tên đường, Phường, Quận" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cmnd">
            <span>CMND</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Chứng minh nhân dân không hợp lệ">
            <input nz-input id="cmnd" formControlName="cmnd" placeholder="Chứng minh nhân dân" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dob">
            <span>Ngày sinh</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker formControlName="dob" nzPlaceHolder="Năm-Tháng-Ngày" style="min-width: 160px;">
            </nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox formControlName="agree" [nzTooltipTitle]="agreementTemplate" nzTooltipPlacement="top"
                nz-tooltip>
                <span>Tôi đồng ý với <a>điều khoản</a></span>
            </label>
            <ng-template #agreementTemplate>
                <div>1. Không cố ý hack</div>
                <div>2. Báo cáo lỗi cho quản trị</div>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [nzLoading]="loading">Đăng kí</button>
        </nz-form-control>
    </nz-form-item>
</form>