<nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate"
    [nzActions]="showActions?[addTemplate, buyTemplate]:[]">
    <nz-card-meta [nzTitle]="item.name" [nzDescription]="item.price | vnd"></nz-card-meta>
</nz-card>

<ng-template #coverTemplate>
    <a [routerLink]="link" class="img-container">
        <img [src]="item.src" [alt]="item.name" />
    </a>
</ng-template>


<ng-template #addTemplate>
    <a (click)="onAddOnce()" nz-button nzType="link" class="button" title="Thêm 1"><i nz-icon
            nzType="plus-square"></i></a>
</ng-template>
<ng-template #buyTemplate>
    <a (click)="onAddThenNavToCart()" nz-button nzType="link" class="button" title="Mua 1"><i nz-icon
            nzType="shopping-cart"></i></a>
</ng-template>