<l-loading [loading]="loading">
    <ng-container *ngIf="item">
        <div class="item-info-container" itemscope itemtype="http://schema.org/Product">

            <div class="item-image">
                <img [src]="item.src" [alt]="item.name" itemprop="image">
            </div>

            <div class="item-info">
                <h1 itemprop="name">{{item.name}}</h1>
                <div class="rate">
                    <nz-rate [(ngModel)]="item.rate" [nzTooltips]="RATES"></nz-rate>
                    <span *ngIf="item.rate" class="ant-rate-text">{{ item.rate ? RATES[item.rate - 1] : '' }}</span>
                </div>
                <div class="fb-like" [attr.data-href]="'/items/'+itemId" data-width="500" data-layout="standard"
                    data-action="like" data-size="large" data-share="true"></div>
                <nz-divider></nz-divider>
                <div class="description" itemprop="description">
                    {{item.description}}
                </div>
                <div class="price"><b>{{item.price | vnd}}</b></div>
                <label for="purchaseQuantity">Số lượng: </label>
                <nz-input-number id="purchaseQuantity" [(ngModel)]="purchaseQuantity" [nzMin]="1" [nzMax]="100"
                    [nzStep]="1" (keyup.enter)="onAddToCart()">
                </nz-input-number>
                <button nz-button nzType="default" [disabled]="purchaseQuantity<1"
                    [title]="'Thêm '+ purchaseQuantity + ' sản phẩm vào giỏ'" (click)="onAddToCart()">+</button>
                <div class="actions">
                    <nz-button-group>
                        <button nz-button nzType="default" nzShape="round" (click)="onNavToCart()">
                            <i nz-icon nzType="shopping-cart"></i>Đến giỏ hàng</button>
                        <button nz-button nzType="default" nzShape="round" [disabled]="purchaseQuantity<1"
                            (click)="onAddThenNavToPayment()">
                            <i nz-icon nzType="barcode"></i>Thanh toán luôn</button>
                    </nz-button-group>
                </div>
            </div>
        </div>
        
        <div class="fb-comments" [attr.data-href]="'https://lin-shop2.herokuapp.com/items/'+itemId" data-numposts="5"
            data-width="100%"></div>
    </ng-container>
</l-loading>

<nz-alert *ngIf="!loading && !item" nzType="error" nzShowIcon nzMessage="Sản phẩm không tồn tại"></nz-alert>