.item-info-container {
  display: flex;
  margin-bottom: 24px;

  .item-image {
    margin-right: 12px;
    max-height: 60vh;
    max-width: 40vw;
    
    img {
      max-width: 25vw;
      max-height: 60vh;
      min-width: 200px;
    }
  }

  h1 {
    display: inline-block;
    margin-right: 8px;
  }

  .rate {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .description {
    margin-bottom: 12px;
  }

  .price {
    color: red;
    font-size: larger;
  }

  .actions {
    margin-top: 12px;
  }
}
