<h1>Đăng nhập</h1>
<form nz-form [formGroup]="validateForm" id="login-form" class="login-form" (ngSubmit)="onLogin()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Hãy nhập email đăng nhập">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input l-auto-focus formControlName="userName" placeholder="Email" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Hãy nhập mật khẩu">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Mật khẩu" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
                <span>Ghi nhớ đăng nhập</span>
            </label>
        </div>
        <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">Quên mật khẩu?</a>
        </div>
    </div>
    <button nz-button [nzLoading]="loading" class="login-form-button login-form-margin" nzType="primary" type="submit"
        form="login-form">Đăng nhập</button>
    hoặc <a routerLink="/sign-up" nzTooltipTitle="Tính năng này hiện chưa hỗ trợ" nzTooltipPlacement="top" nz-tooltip>
        Đăng kí
    </a>
</form>