<nz-sider nzWidth="150px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item nzMatchRouter><a routerLink="/categories/cafe">Cafe</a></li>
        <li nz-menu-item nzMatchRouter>
            <a routerLink="/categories/tra-sua">Trà sữa</a>
        </li>
        <li nz-menu-item nzMatchRouter>
            <a routerLink="/categories/nuoc-ep">Nước ép</a>
        </li>
        <li nz-menu-item nzMatchRouter>
            <a routerLink="/categories/nuoc-ngot">Nước ngọt</a>
        </li>
    </ul>
</nz-sider>

<l-loading [loading]="!init.listItem || loading.listItem">
    <l-list-item *ngIf="init.listItem || !loading.listItem" [items]="items"></l-list-item>
</l-loading>