@header-height: 64px;

nz-header,
nz-content.outer-content {
  padding: 0 16vw 0 16vw;
}

nz-header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: url("/assets/banner.png");
}

nz-content.outer-content {
  margin-top: @header-height;
  min-width: 600px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}

l-search {
  width: 400px;
}

#enable-news {
  position: fixed;
  top: -2px;
  left: 8px;
}

.user-info {
  position: fixed;
  top: 0px;
  right: 8px;
  font-weight: bold;
  padding-top: 2px;
  text-decoration: underline;
}

.horizontal-menu,
.vertical-menu {
  margin-left: 24px;
  line-height: 64px;
  background: transparent;
}

.vertical-menu {
  position: absolute;
  right: 24px;
  padding: 0 24px;

  a {
    color: white;
    text-transform: uppercase;
    font-size: large;
  }
}
/deep/ .vertical-menu-drop-down {
  li {
    line-height: 32px;
    i {
      margin-right: 8px;
    }
  }
}

.inner-layout {
  padding: 24px 0;
  background: #fff;
}

.inner-content {
  padding: 0 24px;
  min-height: 280px;
}

.news {
  position: fixed;
  top: 64px;
  height: calc(100vh - 64px - 70px);
  width: calc(15vw - 4px);
  min-width: 100px;
  font-size: x-small;
  overflow: auto;

  &#vnexpress {
    left: 0;
    margin-left: 4px;
  }

  &#_24h {
    margin-right: 4px;
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .vertical-menu {
    display: none;
  }
  /deep/ .vertical-menu-drop-down {
    display: none;
  }
  .horizontal-menu {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .vertical-menu {
    display: block;
  }
  .horizontal-menu {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  l-search {
    width: 200px;
  }

  .news,
  #enable-news {
    display: none;
  }

  nz-header,
  nz-content.outer-content {
    padding: 0 24px;
  }
}
