<nz-layout>
  <nz-header>
    <div id="enable-news">
      <nz-switch [(ngModel)]="enableNews" [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate">
      </nz-switch>
      <ng-template #checkedTemplate><i nz-icon nzType="check"></i>đọc báo</ng-template>
      <ng-template #unCheckedTemplate>đọc báo<i nz-icon nzType="close"></i></ng-template>
    </div>
    <l-search></l-search>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="horizontal-menu">
      <li nz-menu-item nzMatchRouter><a routerLink="">
          <i nz-icon nzType="home"></i>Trang chủ</a></li>
      <ng-container *ngIf="!userLogin">
        <li nz-menu-item nzMatchRouter><a routerLink="login" [queryParams]="afterLogin">
            <i nz-icon nzType="login"></i>Đăng nhập</a>
        </li>
        <li nz-menu-item nzMatchRouter><a routerLink="sign-up">
            <i nz-icon nzType="form"></i>Đăng kí</a>
        </li>
      </ng-container>
      <ng-container *ngIf="userLogin">
        <li nz-menu-item nzMatchRouter><a routerLink="user-info">
            <i nz-icon nzType="user"></i>Tài khoản</a>
        </li>
        <li nz-menu-item><a (click)="onLogout()">
            <i nz-icon nzType="logout"></i>Đăng xuất</a>
        </li>
      </ng-container>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="cart">
          <nz-badge [nzCount]="totalItems$ | async">
            <i nz-icon nzType="shopping-cart"></i>Giỏ hàng
          </nz-badge>
        </a>
      </li>
      <div class="user-info" *ngIf="userLogin">
        <a routerLink="user-info">
          Xin chào {{userLogin.userInfo.fullName || userLogin.userInfo.email}}
        </a>
      </div>
    </ul>
    <!-- small screen -->
    <div class="vertical-menu">
      <a nz-dropdown [nzDropdownMenu]="menu" nzClickHide="false" nzOverlayClassName="vertical-menu-drop-down">
        Menu <i nz-icon nzType="menu"></i>
      </a>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzTheme="dark" nzSelectable>
        <li nz-menu-item nzMatchRouter><a routerLink="">
            <i nz-icon nzType="home"></i>Trang chủ</a></li>
        <ng-container *ngIf="!userLogin">
          <li nz-menu-item nzMatchRouter><a routerLink="login" [queryParams]="afterLogin">
              <i nz-icon nzType="login"></i>Đăng nhập</a>
          </li>
          <li nz-menu-item nzMatchRouter><a routerLink="sign-up">
              <i nz-icon nzType="form"></i>Đăng kí</a>
          </li>
        </ng-container>
        <ng-container *ngIf="userLogin">
          <li nz-menu-item nzMatchRouter [title]="userLogin.userInfo.fullName || userLogin.userInfo.email">
            <a routerLink="user-info">
              <i nz-icon nzType="user"></i>Tài khoản</a>
          </li>
          <li nz-menu-item><a (click)="onLogout()">
              <i nz-icon nzType="logout"></i>Đăng xuất</a>
          </li>
        </ng-container>
        <!-- TODO: resolve problem total item just show only at 1st time -->
        <li nz-menu-item nzMatchRouter>
          <a routerLink="cart">
            <nz-badge [nzCount]="totalItems$ | async">
              <i nz-icon nzType="shopping-cart"></i>Giỏ hàng
            </nz-badge>
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>
  <nz-content class="outer-content">
    <nz-breadcrumb *ngIf="activeCategory">
      <nz-breadcrumb-item><a routerLink="/"><i nz-icon nzType="home"></i> Lin Shop</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a routerLink="/categories/{{activeCategory.id}}">{{activeCategory.name}}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="activeItemName">{{activeItemName}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-layout class="inner-layout">
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nz-footer>Lin-shop ©2020 Implement By Huỳnh Nhật Linh</nz-footer>
  </nz-content>
</nz-layout>

<div *ngIf="enableNews" id="vnexpress" class="news">
  <l-rss page="vnexpress"></l-rss>
</div>
<div *ngIf="enableNews" id="_24h" class="news">
  <l-rss page="24h"></l-rss>
</div>