<h1><i nz-icon nzType="user"></i>Thông tin cá nhân</h1>
<l-loading [loading]="!init">
    <form *ngIf="init" id="user-info-form" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input readonly formControlName="email" id="email" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullName">
                <span>Họ và tên</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="fullName" formControlName="fullName" placeholder="Họ tên" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">Số điện thoại</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Số điện thoại không hợp lệ">
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                        <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                            <nz-option nzLabel="+84" nzValue="+84"></nz-option>
                        </nz-select>
                    </ng-template>
                    <input formControlName="phoneNumber" id="'phoneNumber'" nz-input placeholder="0xxx xxx xxxx"
                        [specialCharacters]="[' ']" mask="0000 000 0009" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">
                <span>Địa chỉ</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input id="address" formControlName="address" placeholder="Số nhà Tên đường, Phường, Quận" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cmnd">
                <span>CMND <i nz-icon nz-tooltip nzTooltipTitle="Số chứng minh nhân dân"
                        nzType="question-circle"></i></span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Chứng minh nhân dân không hợp lệ">
                <input nz-input id="cmnd" formControlName="cmnd" placeholder="Chứng minh nhân dân" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dob">
                <span>Ngày sinh</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-date-picker formControlName="dob" nzPlaceHolder="Năm-Tháng-Ngày" style="min-width: 160px;">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
    </form>

    <nz-form-item *ngIf="init" nz-row class="action-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" type="submit" form="user-info-form" style="margin-right: 12px;" [nzLoading]="!init || loading">Cập nhật</button>
            <button nz-button nzType="danger" [nzLoading]="!init || loading" (click)="onChangePassword()">Đổi mật khẩu</button>
        </nz-form-control>
    </nz-form-item>
</l-loading>