<h1 *ngIf="!error">Cảm ơn đã đặt hàng tại Lin-shop</h1>
<div>
    <a routerLink="/">
        <h2 style="text-align: center; color: #1890ff;">Tiếp tục đặt nước</h2>
        <img id="banner" src="/assets/shopping.png" alt="mua nước">
    </a>
</div>
<div *ngIf="error"><a href="/cart">Về giỏ hàng</a></div>