<ul *ngIf="_items.length">
    <li *ngFor="let item of _items">
        <l-item-card [item]="item" [link]="'/items/'+item.id"></l-item-card>
    </li>
</ul>

<nz-alert *ngIf="!_items.length" nzType="warning" nzMessage="Không tìm thấy sản phẩm nào" nzShowIcon>
</nz-alert>