<h1><i nz-icon nzType="home"></i>Lin Shop - Đặt nước là có</h1>
<h2>Phục vụ giao các loại nước giải khát: cafe, trà sữa, nước ép và nước ngọt</h2>
<l-item-card [item]="{name:'Cafe',src:'/assets/cafe.jpg'}" link="/categories/cafe/" [showActions]="false"></l-item-card>
<l-item-card [item]="{name:'Trà sữa',src:'/assets/tra-sua.jpg'}" link="/categories/tra-sua/" [showActions]="false"></l-item-card>
<l-item-card [item]="{name:'Nước ép',src:'/assets/nuoc-ep.jpg'}" link="/categories/nuoc-ep/" [showActions]="false"></l-item-card>
<l-item-card [item]="{name:'Nước ngọt',src:'/assets/nuoc-ngot.jpg'}" link="/categories/nuoc-ngot/" [showActions]="false">
</l-item-card>

<div style="text-align: center;">
    <div>Để nhận nhiều khuyến mãi, hãy </div>
    <nz-button-group>
        <button nz-button nzType="primary" nzSize="large" title="{{emails?.length}} người đã đăng kí Lin-shop"
            (click)="showSignUpForm()">Đăng kí</button>
        <a nz-button nzType="primary" nzSize="large" routerLink="/invite">Giới thiệu</a>
    </nz-button-group>
</div>

<nz-divider></nz-divider>
<h3>Road map</h3>
<p>
    <a href="https://trello.com/b/cmLIXB37/lin-shop-board" target="_blank">
        https://trello.com/b/cmLIXB37/lin-shop-board
    </a>
</p>
<h3>Thông tin liên hệ</h3>
<p>
    <li>
        <span>Facebook: </span>
        <a href="https://www.facebook.com/DraKar97" target="_blank">
            https://www.facebook.com/DraKar97
        </a>
    </li>
    <li><span>Gmail: daoxiang97@gmail.com</span></li>
</p>
<h3>Tài khoản thử nghiệm</h3>
<p>
    <li>Paypal (tên đăng nhập / mật khẩu)
        <div>nguoimua1@lin-shop.com</div>
        <div>Linh654321</div>
    </li>
    <li>Ngân lượng (số thẻ ATM / tên chủ thẻ / mã xác thực)
        <div>9874563254178962</div>
        <div>Nguyen Hue</div>
        <div>123456</div>
    </li>
</p>