<h1><i nz-icon nzType="ordered-list"></i>Danh sách đăng kí Lin-shop</h1>

<nz-spin [nzSpinning]="loading">
    <hot-table [hotId]="hotId" [settings]="settings" [afterInit]="afterInit" [beforeChange]="beforeChange"
        [height]="'55vh'" [width]="'65vw'">
    </hot-table>
</nz-spin>

<div class="actions">
    <button nz-button nzSize="large" nzType="danger" nzTooltipTitle="Quyền quản trị" nzTooltipPlacement="top" nz-tooltip
        [nzLoading]="loading" [disabled]="isBusy" (click)="onSendAll()">Gửi
        mail</button>
</div>