<div *ngIf="!requestCodeDone" style="text-align: center;">
    <nz-alert nzType="warning" nzMessage="CẨN THẬN: Yêu cầu mã thực thi sẽ tạm khóa một thời gian" nzShowIcon>
    </nz-alert>
</div>

<div *ngIf="requestCodeDone">
    <label for="password">Hãy nhập mã thực thi</label>
    <nz-input-group [nzSuffix]="suffixTemplate">
        <input id="password" [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Mã để thực thi"
            [(ngModel)]="password" (keyup.enter)="onConfirm()" />
    </nz-input-group>
    <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
</div>

<nz-divider></nz-divider>

<div style="text-align: right;">
    <button nz-button nzType="default" style="margin-right: 12px;" (click)="onCancel()">Hủy</button>
    <button *ngIf="!requestCodeDone" nz-button nzType="danger" (click)="onRequestCode()" title="Yêu cầu mã thực thi">Yêu cầu</button>
    <button *ngIf="requestCodeDone" nz-button nzType="primary" (click)="onConfirm()">Thực
        thi</button>
</div>