.quick-action {
  font-size: x-large;
}

#payment-btn {
  position: absolute;
  left: -1px;
  margin-top: 18px;
}

#summary-row > td {
  border: none;
  font-size: larger;

  a {
    font-size: larger;
  }
}

#summary {
  text-align: right;
}

#total {
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  // TODO: optimize
  padding-top: 20px;
}

.item-img {
  max-height: 50px;
}