<h1><i nz-icon nzType="shopping-cart"></i>Giỏ hàng
    <a nz-button class="quick-action" routerLink="/payment" nzType="link" *ngIf="calc.cart>0">Thanh toán
        {{calc.cart | vnd}}</a>
    <a nz-button class="quick-action" routerLink="/" nzType="link" *ngIf="calc.cart===0">TRỐNG!! Hãy mua thêm
        hàng</a>
</h1>

<nz-table #itemTable [nzData]="cart | keyvalue" nzFrontPagination="false" *ngIf="itemIds.length>0">
    <thead>
        <tr>
            <th nzWidth="200px">Tên sản phẩm</th>
            <th nzWidth="100px">Đơn giá</th>
            <th nzWidth="150px">Số lượng</th>
            <th nzWidth="150px">Thành tiền</th>
            <th nzWidth="20px"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemTable.data">

            <td><a [routerLink]="'/items/'+item.value.id">
                    <img class="item-img" [src]="item.value.src" [alt]="item.value.name">{{ item.value.name }}</a>
            </td>
            <td>{{ item.value.price | vnd}}</td>
            <td *ngIf="editingItemId === item.value.id">
                <nz-input-number [id]="'purchaseQuantity'+item.value.id" [(ngModel)]="item.value.quantity" [nzMin]="1"
                    [nzMax]="100" [nzStep]="1" (keyup)="onHotkey($event,item.value)"
                    (keydown)="onHotkey2($event,item.value)" (ngModelChange)="calcCart(cart)"
                    title="ấn Enter để xác nhận">
                </nz-input-number>
            </td>
            <td *ngIf="editingItemId !== item.value.id">
                <a nz-button nzType="link" (click)="onEditItem(item.value)">{{item.value.quantity}} <i nz-icon
                        nzType="edit"></i></a>
            </td>
            <td>{{calc[item.key] | vnd}}</td>
            <td><a (click)="onRemoveItem(item.key)" nz-button nzType="link"><i nz-icon nzType="delete"></i></a></td>
        </tr>
        <tr id="summary-row">
            <td colSpan="3" id="summary">Tổng cộng</td>
            <td colSpan="2" id="total">
                <div>{{calc.cart | vnd}}</div>
                <div id="payment-btn"><a nz-button routerLink="/payment" nzDanger nzSize="large">Thanh toán</a></div>
            </td>
        </tr>
    </tbody>
</nz-table>

<div *ngIf="itemIds.length===0">
    <l-buy-more></l-buy-more>
</div>