<nz-input-group [nzSuffix]="suffixIconSearch">
    <input [(ngModel)]="searchText" (keyup.enter)="search(searchText)" type="text" nz-input
        placeholder="Bạn muốn uống gì?" />
</nz-input-group>

<ng-template #suffixIconSearch>
    <i nz-icon nzType="search" style="cursor: pointer;" (click)="search(searchText)"></i>
</ng-template>