/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.less";
@import '~handsontable/dist/handsontable.full.css';

h1 {
  i {
    margin-right: 12px;
  }
}

i[nztype="delete"] {
  color: red;
}

nz-notification > div {
  cursor: pointer;
}

.fb-comments iframe {
  width: 100% !important;
}

.fb-messengermessageus {
  position: fixed !important;
  left: 12px;
  bottom: 24px;
  z-index: 1;
}
