<form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" id="change-password-form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label nzFor="old-password" nzRequired>Mật khẩu cũ</nz-form-label>
        <nz-form-control nzErrorTip="Hãy nhập mật khẩu">
            <input nz-input type="password" id="old-password" formControlName="oldPassword" placeholder="Mật khẩu cũ" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="password" nzRequired>Mật khẩu mới</nz-form-label>
        <nz-form-control nzErrorTip="Hãy nhập mật khẩu">
            <input nz-input type="password" id="password" formControlName="password" placeholder="Mật khẩu"
                (ngModelChange)="updateConfirmValidator()" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="checkPassword" nzRequired>Nhập lại mật khẩu</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" placeholder="Mật khẩu" />
            <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Hãy nhập mật khẩu
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                    Mật khẩu không trùng khớp
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
</form>


<nz-divider></nz-divider>

<div style="text-align: right;">
    <button nz-button nzType="default" style="margin-right: 12px;" (click)="onCancel()">Hủy</button>
    <button nz-button nzType="danger" nz-button type="submit" form="change-password-form" title="Đổi mật khẩu">Đồng
        ý</button>
</div>