<h1><i nz-icon nzType="barcode"></i>Thanh toán <a nz-button class="quick-action" routerLink="/" nzType="link"
        *ngIf="isCartEmpty">Giỏ hàng TRỐNG!! Hãy mua thêm hàng</a></h1>
<ng-container *ngIf="!isCartEmpty">
    <div id="payment-info">
        <section id="payment-method">
            <h2>Phương thức thanh toán</h2>
            <l-loading [loading]="!init.paymentMethod">
                <div id="payment-method-choice" *ngIf="init.paymentMethod">
                    <label [for]="PAYMENT_METHOD.COD">
                        <nz-card nzHoverable>
                            <nz-card-meta nzTitle="COD" nzDescription="Thanh toán tiền mặt" [nzAvatar]="codInput">
                            </nz-card-meta>
                        </nz-card>
                        <ng-template #codInput>
                            <input type="radio" [id]="PAYMENT_METHOD.COD" [value]="PAYMENT_METHOD.COD"
                                [(ngModel)]="paymentMethod" (ngModelChange)="onPaymentChanged($event)"
                                name="payment-method">
                        </ng-template>
                    </label>

                    <label [for]="PAYMENT_METHOD.PAYPAL">
                        <nz-card nzHoverable>
                            <nz-card-meta nzTitle="PAYPAL" nzDescription="Thanh toán qua Paypal"
                                [nzAvatar]="paypalInput">
                            </nz-card-meta>
                        </nz-card>
                        <ng-template #paypalInput>
                            <input type="radio" [id]="PAYMENT_METHOD.PAYPAL" [value]="PAYMENT_METHOD.PAYPAL"
                                [(ngModel)]="paymentMethod" (ngModelChange)="onPaymentChanged($event)"
                                name="payment-method">
                        </ng-template>
                    </label>

                    <label [for]="PAYMENT_METHOD.NGAN_LUONG">
                        <nz-card nzHoverable>
                            <nz-card-meta nzTitle="ATM - Ngân Lượng" nzDescription="Thanh toán bằng ATM tại Ngân Lượng"
                                [nzAvatar]="nganLuongInput">
                            </nz-card-meta>
                        </nz-card>
                        <ng-template #nganLuongInput>
                            <input type="radio" [id]="PAYMENT_METHOD.NGAN_LUONG" [value]="PAYMENT_METHOD.NGAN_LUONG"
                                [(ngModel)]="paymentMethod" (ngModelChange)="onPaymentChanged($event)"
                                name="payment-method">
                        </ng-template>
                    </label>

                    <!-- <label [for]="PAYMENT_METHOD.ATM">
                <nz-card nzHoverable>
                    <nz-card-meta nzTitle="ATM" [nzDescription]="atmContent" [nzAvatar]="atmInput">
                    </nz-card-meta>
                </nz-card>
                <ng-template #atmContent>
                    Thanh toán qua ATM
                    <ng-container *ngIf="paymentMethod === PAYMENT_METHOD.ATM">
                        <div id="atm-info">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="7" nzRequired>Số thẻ</nz-form-label>
                                <nz-form-control [nzSpan]="12">
                                    <input nz-input [(ngModel)]="atmNo" placeholder="xxxx xxxx xxxx xxxx" maxlength="19"
                                        [specialCharacters]="[' ']" mask="0000 0000 0000 0000" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item title="3 số cuối mặt sau của thẻ">
                                <nz-form-label [nzSpan]="7" nzRequired>Mã bảo mật</nz-form-label>
                                <nz-form-control [nzSpan]="12">
                                    <input nz-input [(ngModel)]="securityCode" placeholder="xxx" maxlength="3"
                                        mask="000" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </ng-container>
                </ng-template>
                <ng-template #atmInput>
                    <input type="radio" [id]="PAYMENT_METHOD.ATM" [value]="PAYMENT_METHOD.ATM"
                        [(ngModel)]="paymentMethod" name="payment-method">
                </ng-template>
            </label> -->
                </div>
            </l-loading>
        </section>

        <section id="bill-info">
            <h2>Thông tin đơn hàng <a nz-button nzType="link" routerLink="/cart" title="Cập nhật giỏ hàng"><i nz-icon
                        nzType="edit"></i></a></h2>
            <l-loading [loading]="!init.billInfo">
                <div class="table" *ngIf="init.billInfo">
                    <div class="row">
                        <div class="col">Tạm tính ({{billInfo.totalItems}} sản phẩm)</div>
                        <div class="col">{{billInfo.totalValue | vnd}}</div>
                    </div>
                    <ng-container *ngIf="billInfo.fees | objToArr as fees">
                        <div class="row row-header">Tính phí:</div>
                        <div class="row" *ngFor="let fee of fees">
                            <div class="col">{{fee.description}}</div>
                            <div class="col">{{fee.value | vnd}}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!billInfo.discounts">
                        <div class="row login-note"><a nz-button nzType="link" routerLink="/login"
                                [queryParams]="{nav:'payment'}">Đăng nhập để nhận giảm
                                giá</a>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="billInfo.discounts | objToArr as discounts">
                        <div class="row row-header">Giảm giá:</div>
                        <div class="row" *ngFor="let discount of discounts">
                            <div class="col">{{discount.description}}</div>
                            <div class="col">{{discount.value | vnd}}</div>
                        </div>
                    </ng-container>
                    <nz-divider></nz-divider>
                    <div class="row">
                        <div class="col">Tổng cộng</div>
                        <div class="col" id="total">{{billInfo.summary | vnd}}</div>
                    </div>
                </div>
            </l-loading>
        </section>
    </div>

    <section id="delivery-info">
        <h2>Thông tin nhận hàng</h2>
        <l-loading [loading]="!init.deliveryInfo">
            <form *ngIf="init.deliveryInfo" nz-form [formGroup]="validateForm" (ngSubmit)="onPay()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email"
                        [nzRequired]="paymentMethod===PAYMENT_METHOD.NGAN_LUONG">E-mail</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="emailErrorTpl">
                        <input nz-input formControlName="email" id="email" placeholder="ex@gmail.com" />
                        <ng-template #emailErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Email không được trống
                            </ng-container>
                            <ng-container *ngIf="control.hasError('email')">
                                Email không hợp lệ
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">
                        <span>Họ và tên</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input id="name" formControlName="name" placeholder="Họ tên" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Số điện thoại</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Số điện thoại không hợp lệ">
                        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                            <ng-template #addOnBeforeTemplate>
                                <nz-select formControlName="phonePrefix" class="phone-select">
                                    <nz-option nzLabel="+84" nzValue="+84"></nz-option>
                                </nz-select>
                            </ng-template>
                            <input formControlName="phone" id="phone" nz-input placeholder="0xxx xxx xxxx"
                                [specialCharacters]="[' ']" mask="0000 000 0009" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>
                        <span>Địa chỉ</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Bạn phải nhập địa chỉ">
                        <input nz-input id="address" formControlName="address"
                            placeholder="Số nhà Tên đường, Phường, Quận" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row class="action-area">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <button nz-button nzType="primary" type="submit" style="margin-right: 12px;"
                            [nzLoading]="!init || loading">Thanh toán</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </l-loading>
    </section>
</ng-container>

<div *ngIf="isCartEmpty">
    <l-buy-more></l-buy-more>
</div>