.quick-action {
  font-size: x-large;
}

.table {
  padding: 24px;
  border: 1px solid #ddd;

  .row {
    display: flex;

    &.row-header {
      font-size: small;
      text-decoration: underline;
    }
  }
}

#payment-info {
  display: flex;
  flex-wrap: wrap;

  #payment-method {
    min-width: 350px;
    flex: 1;
    padding-right: 24px;
  }
  #bill-info {
    min-width: 350px;
    flex: 1;
  }
}

#atm-info {
  margin-top: 8px;

  nz-form-label {
    text-align: left;
  }
}

#bill-info {
  .table {
    font-size: medium;
    .row > .col:nth-child(1) {
      flex: 2;
    }
    .row > .col:nth-child(2) {
      text-align: right;
      font-weight: bold;
      flex: 1;
    }
  }

  .login-note > a {
    width: 100%;
  }
}

#delivery-info {
  margin-top: 12px;

  .phone-select {
    width: 70px;
  }

  .action-area {
    margin-bottom: 8px;
  }
}

#total {
  color: red;
}
